body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9fbfd;
  color: #222;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.navbar a.nav-link.active {
  color: #e63946 !important;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  transition: all 0.5s ease;
}
